[Desktop Entry]
Type=XSession
Exec=env KDEWM=/usr/bin/i3 /usr/bin/startplasma-x11
Name=Plasma with i3
Comment=Plasma with i3
DesktopNames=KDE
Keywords=tiling;wm;windowmanager;window;manager;
